/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.hero-wrapper {
  width: 100%;
  &::after {
    content: url("/img/hero-pointer.svg");
    position: absolute;
    right: 0;
    bottom: 0;
    @include mq(desktop, max) {
      display: none;
    }
  }

}

.hero {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  @include mq(tablet, max) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  margin-top: 80px;
  @include mq(tablet, max) {
    margin-top: 24px;
  }
  height: auto;
  @include mq(desktop, max) {
    padding: 0 24px;
  }

  @include mq(s-desktop, max) {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  &__image {
    position: relative;
    margin-right: auto;
  }

  &__image::before {
    @include mq(s-desktop, min) {
      content: url("/img/hero-circle.svg");
      position: absolute;
      left: -64px;
      bottom: 30px;
    }
 
  }

  &__image::after {
      @include mq(s-desktop, min) {
        content: url("/img/hero-bg.svg");
        position: absolute;
        top: -30%;
        left: 60%;
        z-index: -10;
      }
  }

  &__image .-desktop {
    height: 505px;
    display: none;
    @include mq(tablet, min) {
      display: block;
    }
    @include mq(desktop, max) {
      height: 450px;
    }
    @include mq(s-desktop, max) {
      height: 400px;
    }
  }

  &__content {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;


    max-width: 558px;

    @include mq(tablet, min) {
      margin-left: 64px;
    }

    h1 {
      margin-top: 24px;

      font-weight: bold;
      font-size: 60px;
      color: $dark-text;

      @include mq(desktop, max) {
        font-size: 50px;
      }
      @include mq(s-desktop, max) {
        font-size: 40px;
      }
    }
    p {
      margin-top: 16px;
      color: $dark-text;
      font-size: 18px;
      font-weight: 450;
    }

    &-buttons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    &-buttons .mail , &-buttons .social-media {
        margin-top: 32px;
    }

    &-buttons .mail a {
      display: block;

      padding: 18.5px 45.5px;
      margin-right: 16px;
      @include mq(mobile, max) {
        margin-right: 0;
      }

      color: $light-text;
      border-radius: 100px;
      text-decoration: none;
      font-size: 18px;
      font-weight: bold;

      background-color: $primary;
    }

    &-buttons .social-media {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }

    &-buttons .social-media a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;

      margin-right: 16px;
      &:last-child {
        margin-right: 0;
      }

      width: 60px;
      height: 60px;

      border-radius: 50%;
      border: solid 2px $primary;
    }
  }
}